<!DOCTYPE html>
<html>
<head>
    <title>Emotion Music App 🎧</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- 🔥 HEADER -->
<div class="navbar">
    <a href="/">🏠 Home</a>
    <a href="/history">📜 History</a>
    <a href="/about">ℹ About</a>
    <a href="/theory">📘 Theory</a>
    <a href="/admin">⚙ Admin</a>
</div>

<!-- CONTENT -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- 🔥 FOOTER -->
<div class="footer">
    Made with ❤️ by <b>Komal Dagar</b>
    B.Tech CSE | 2024UCS1614
</div>

</body>
</html>